<%- include ("partials/header.ejs") %>

    <div class="container-about-us">
        <h1 class="about-us-title">About Us</h1>
        <div class="about-us-text">
            Welcome to Fly & Dream, where adventure and wanderlust come alive! 
            This blog is a space dedicated to the magic of travel and the dreamers who chase it. 
            Whether you’re a seasoned globetrotter or just starting to explore the world, 
            our stories and experiences are here to inspire, inform, and ignite your passion for discovering new places.
        </div>

        <div class="about-us-text">
            At Fly & Dream, we believe that travel is more than just visiting new destinations.
            it’s about connecting with cultures, embracing the unknown, and dreaming of possibilities beyond the horizon. 
            From hidden gems tucked away in remote corners of the world to iconic landmarks that leave you in awe, 
            we’re here to guide you through unforgettable journeys.
        </div>

        <div class="about-us-text">
            Our mission is simple: to share the wonders of travel, 
            offer tips and inspiration, and encourage you to take that next step into the great unknown. 
            So, pack your bags, follow your dreams, and let’s embark on this incredible adventure together!
        </div>
    </div>

    <%- include ("partials/footer.ejs") %>

