<%- include ("partials/header.ejs") %>
<div class="gallery-intro">
    <div class="gallery-title">
        Explore stunning visuals from our journeys. Each photo captures a moment, a memory, and the magic of the places we’ve visited. 
        Let these images inspire your next adventure and remind you that the world is full of beauty waiting to be discovered.
    </div>
</div>

<div class="gallery-wrapper">
    <div class="gallery-flex">
        
        <div class="gallery">
            <div class="gallery-item">
                <img class="image-size" src="/images/picture-1.jpg" alt="gallery image">
            </div>
            <div class="gallery-item">
                <img class="image-size" src="/images/picture-2.jpg" alt="gallery image">
            </div>
            <div class="gallery-item">
                <img class="image-size" src="/images/picture-3.jpg" alt="gallery image">
            </div>
            <div class="gallery-item">
                <img class="image-size" src="/images/picture-4.jpg" alt="gallery image">
            </div>
            <div class="gallery-item">
                <img class="image-size" src="/images/picture-5.jpg" alt="gallery image">
            </div>
            <div class="gallery-item">
                <img class="image-size" src="/images/picture-6.jpg" alt="gallery image">
            </div>
            <div class="gallery-item">
                <img class="image-size" src="/images/picture-7.jpg" alt="gallery image">
            </div>
            <div class="gallery-item">
                <img class="image-size" src="/images/picture-8.jpg" alt="gallery image">
            </div>
        </div>
    </div>
</div>    

<p>
<%- include ("partials/footer.ejs") %>
</p>