<div class="home-background-image">
    <%- include ("partials/header.ejs") %>
    <div class="edit-flex">
        <h1 class="home-title">step out of your comfort zone, take a leap of faith!</h1>
    </div>

   
</div>
 <%- include ("partials/footer.ejs") %>
